


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <h1>Acerca de Esta Pagina</h1>
		<h2>Dopamine Zone es el espacio donde la adrenalina se convierte en estilo de vida. Aquí celebramos los deportes extremos como una forma de romper límites, 
			desafiar lo imposible y vivir cada segundo con intensidad. Desde alturas vertiginosas hasta velocidades que aceleran el corazón, 
			esta página reúne historias, consejos, retos y experiencias reales para quienes buscan sentir esa chispa que solo los momentos al limite pueden ofrecer. 
			Bienvenido a la zona donde la aventura empieza y el miedo se transforma en impulso.</h2>
	</body>
        </html>
        
